*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* styling the footer in the section  */
.containorfooter
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.137);
    
}
.footer__bottom
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #E5C656;
  color: white;
  transition: 1s ease;
}
.footer__bottom:hover
{
  background-color: #e0be44 ;
}
.footer 
{
  padding-bottom: -90px;
}
.footer__bottom p
{
  color: white;
  font-family: 'Poppins', sans-serif;

}
.footer__handles 
{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr ;
  position: absolute;
  bottom: 10px;
  
  
}
.footer__query, .footer__handles, .footer__links
{
  height: 200px;

}

.footer__query
{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 30%;
  
  
  
}
.footer__query h3
{
  font-weight: 500;
  font-size: 1.9rem;
  
  padding-left: -30px;
  padding-bottom: 10px;

}
.footer__query p
{
  font-size: 1.2rem;
  padding-left: 10px;
  font-family: poppins, sans-serif;
}
.footer__links 
{
  background-color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 20%;

}
.footer__logo
{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 20%;
  

}
.footer__logo h3
{
  font-size: 2.0rem;
  font-weight: 600;
  
  padding-left: -30px;
  padding-bottom: 10px;
}
.footer__logo p
{
  font-size: 1.2rem;
  
  font-family: poppins, sans-serif;

}
.footer__links h3
{font-size: 1.9rem;
  font-weight: 500;

  
  padding-left: -30px;
  padding-bottom: 10px;

}
.footer__links p
{
  padding-top: -2px;
  font-size: 1.2rem;
  
  font-family: poppins, sans-serif;

}
/* header styles*/

.headercontainor 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #E5C656;

}
.header__logo
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins, sans-serif;
  height: 40px;
  width: 100%;
  

  

}
.header__logo p

{
  font-size: 2.0rem;
  font-weight: 500;
  color: white;
}

.header__items
{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
  width: 100%;
  height: 40px;
  background-color: red;
  margin-bottom: 10px;
}
.header__hamburger


{
  flex: 1;
  
  height: 40px;
  width: 40px;
  background-color: #E5C656;

}
.header__form
{
  flex: 2;
  height: 40px;
  width: 100px;
  background-color: #E5C656;
}
form 
{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form__input 
{
  margin-left: 180px;
  height: 30.5px;
  width: 190px;
  border-radius: 20px;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
  outline: 0;
  
}
.header__form__input:placeholder-shown
{
  padding-left: 50px;
  font-size: 0.9rem;
}
.header__form__button
{
  padding: 8px 20px 8px 20px;
  margin-left: 20px;
  color: #E5C656;
  border: transparent;
  background-color: white;
  transition: 0.6s ease;
}
.header__form__button:hover
{
  background-color: #E5C656;
  color: white;
  border: 1px solid white;
}