*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* styling the footer in the section  */
.containorfooter
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.137);
    
}
.footer__bottom
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #E5C656;
  color: white;
  transition: 1s ease;
}
.footer__bottom:hover
{
  background-color: #e0be44 ;
}
.footer 
{
  padding-bottom: -90px;
}
.footer__bottom p
{
  color: white;
  font-family: 'Poppins', sans-serif;

}
.footer__handles 
{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr ;
  position: absolute;
  bottom: 10px;
  
  
}
.footer__query, .footer__handles, .footer__links
{
  height: 200px;

}

.footer__query
{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 30%;
  
  
  
}
.footer__query h3
{
  font-weight: 500;
  font-size: 1.9rem;
  
  padding-left: -30px;
  padding-bottom: 10px;

}
.footer__query p
{
  font-size: 1.2rem;
  padding-left: 10px;
  font-family: poppins, sans-serif;
}
.footer__links 
{
  background-color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 20%;

}
.footer__logo
{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 20%;
  

}
.footer__logo h3
{
  font-size: 1.9rem;
  font-weight: 500;
  
  padding-left: -30px;
  padding-bottom: 10px;
}
.footer__logo p
{
  font-size: 1.2rem;
  
  font-family: poppins, sans-serif;

}
.footer__links h3
{font-size: 1.9rem;
  font-weight: 500;
  
  padding-left: -30px;
  padding-bottom: 10px;

}
.footer__links p
{
  font-size: 1.2rem;
  
  font-family: poppins, sans-serif;

}
/* header styles*/
.header{
  position:absolute;
  background: #E5C656;
  width: 100%;
  height: 220px;
}
.btn-menu{
  box-shadow: 0 0 3px #000; 
  border:transparent;
  border-radius: 5px;
 padding: 5px;
  position:absolute;
  margin-top:  70px;
 margin-left: 17px;
  color:#FFFFFF;
  background: #E5C656;
  width:38px;
}
.logo{
  text-align: center;
  font-family: poppins, sans-serif;
  color:#FFFFFF;
  font-weight: 600px;
  font-style: normal;
  font-size: 60px;
  text-shadow:1px 1px 1px #000 ;
  }
  .searchbar{
    background: #E5C656;
    margin-top: 55px;
    margin-left: 1000px;
  }
  .search{
    box-shadow: 0 0 3px #000;
   
    margin:5px;
 font-size: 24px;
 width: 350px;
height: 40px;
border:transparent;
border-radius: 23.5px;
  }
  .btn-search{
    box-shadow: 0 0 3px #000;
    background: white;
    color:#E5C656;
    font-size: 22px;
    margin: 15px;
    width: 110px;
    height: 38px;
    border-radius: 5px;
    border:transparent;
  }

